---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito&display=swap');

.page-header {
    background-color: #90859E;
    background-image: none;
}

body {
    color: #777;
    background-color: #eae7dc;
    font-family: "Nunito", sans-serif;
}

.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4, 
.main-content h5, 
.main-content h6 {
    color: #777;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.main-content {
    font-family: "Nunito", sans-serif;
}
